*{
   margin: 0px;
   padding: 0px; 
   line-height: 1.8;
}


.navbar{
    /* border: 2px solid; */
    height:250px;
    background-image: url("./coffeeshop.jpg");
    margin-bottom: 50px;
}
.menu{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    margin-left: 20px;
}

a{
    color: #fff;    
    text-decoration: none;
    margin-top: 10px;
}
.para{
    /* border: 2px solid; */
    width: 200px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    background: black;

    margin: auto;
    margin-top: 100px;
    
}
.about-me{
    border: 2px solid;
    line-height: 30px;
    text-align: center;
    width:80% ;
    margin: auto;
    margin-bottom: 70px;
}

.me{
    margin-bottom:30px ;
}
.af-me{
    margin-bottom:20px ;
    
}
.me-para{
    text-align: left;
}
.sec-name{
    margin-top: 50px;
    /* border: 2px solid; */
}
.name{
    /* border: 2px solid; */
    width: 50%;
    
}
.myname{
    margin-bottom: 50px;
}
.name-para{
    width: 45%;
    margin-left: 480px;
    margin-top: -370px;
    /* border: 2px solid; */

}

.good{
    margin-top: 100px;
    border: 2px solid;
    width:80%;
    margin-top: 100px;
    margin: auto;
    text-align: center;
    
}

.skills{
    /* border: 2px solid; */
    margin-top: 50px;
    text-align: left;
}

.skil-name{
    margin-bottom: 20px;

}

.per{
    
    background: rgb(233, 230, 230);
    text-align: center;
    padding: 4px;
}
.per-b{
    margin: 0px;
    padding: 0px;
    border: 2px solid;
    background: black;
    color: #ffffff;
    width: 90%;
    padding: 5px;
}

.per-b1{
    margin: 0px;
    padding: 0px;
    border: 2px solid;
    background: black;
    color: #ffffff;
    width: 80%;
    padding: 5px;
}

.per-b2{
    margin: 0px;
    padding: 0px;
    border: 2px solid;
    background: black;
    color: #ffffff;
    width: 75%;
    padding: 5px;
}

.review1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    height: 100px;
    margin-top: 50px;
    background-color: black;
    
}

.review1 p {
    display: flex;
    flex-direction: column; 
    margin: auto; 
    color: #fff;
}

.port{
    background-image: url("./coffeeshop.jpg");
    height: 320px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 5px;
    font-size: 25px;
}


.work{
    border: 2px solid;
    width: 70%;
    text-align: center;
    margin: auto;
}
.div-img3{
    display: flex;
    gap: 15px; 
}
.img3{
    flex: 1;
}
.img3 img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}
.btn{
    background: black;
    color: #fff;
    margin-top: 50px;
    border-radius: 5px;
}

.contact{
    background-image: url("./coffeeshop.jpg");
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 5px;
    font-size: 25px;
}



.foot{
    border: 2px solid;
    width: 65%;
    margin: auto;
    text-align: center;
}

.foot-img{
    text-align: left;
    margin-top: 50px;
}
.foot-details{
    border: 2px solid;
    width: 70%;
    text-align: left;
    margin-left: 280px;
    margin-top: -150px;
    
}

.foot-inpt input{
    width:40%;
    margin: 5px;
    padding: 5px;
}
.foot-inpt1 input{
    width:84.5%;
    margin: 10px;
    padding: 5px;
}

.btn1{
    background: black;
    color: #fff;
    margin-left: 340px;
    width: 130px;
    height: 30px;
    font-size: 15px;
}